.cartitem {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    gap: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    place-items: center;
    margin: 8px;

    @media (max-width: 500px) {
        padding: 5px;
        flex-direction: column;
    }

    .cartitem-image img {
        max-height: 170px;
        &:hover {
            opacity: 0.6;
        }
    }

    .cartitem-box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        
        @media (max-width: 500px) {
            flex-direction: column;
        }

        .cartitem-left {
            width: 50%;
            justify-content: flex-start;

            @media (max-width: 500px) {
                width: 100%;
                text-align: center;
            }
        }

        .cartitem-right {
            display: flex;
            justify-content: flex-end;
            text-align: center;

            @media (max-width: 500px) {
                width: 100%;
                flex-direction: column;
            }
        }
    }

    .cartitem-grid {
        margin: 10px;
        
        h4 {
            font-size: .7rem;
            padding-bottom: 8px;
            text-decoration: underline;
        }
        
        .cartitem-name {
            text-decoration: none;
            color: $black;
            :hover {
                color: $pink;
            }
        }

        p {
            font-weight: 600;;
            line-height: 150%;
        }
    
        select {
            @include select-style;
        }

        .cartitem-remove {
            color: $blue;
            cursor: pointer;
        }
    
        button {
            padding: 10px 16px;
            background: $pink;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            cursor: pointer;
            transition: all 0.3s ease-out;
            &:hover {
                opacity: 0.6;
            }
        }

        @media (max-width: 700px) {
            .cartitem-grid {
                align-content: flex-start;
            }

            p {
                font-size: 0.8rem;
            }

            .cartitem-name {
                font-size: 0.8rem;
            }

            button {
                padding: 8px 12px;
            }
        }

        @media (max-width: 500px) {
            .cartitem-grid {
                align-content: center;
            }
            
            h4 {
                font-size: 0.6em;
            }
            
            .cartitem-name {
                font-size: 0.8rem;
            }

            button {
                padding: 8px 12px;
            }
        }

    }

}