$off-white: rgb(248, 231, 185);
$white: #fff;
$dark-gray: rgb(166, 159, 157);
$black: #171717;
$pink: rgb(235, 159, 130);
$red: rgb(211, 32, 42);
$off-green: rgb(196,211,202);
$green: rgb(0, 115, 62);
$off-blue: rgb(179, 206, 235);
$blue: rgb(14, 104, 171);