.footer {
    background-color: $black;
    color: $off-white;
    display: flex;
    flex-direction: column;
    padding: 5px 15%;

    @media (max-width: 500px) {
        padding: 5px 5%;
    }

    p {
        font-size: 0.7rem;
        font-weight: 600;
        text-align: center;
        line-height: 150%;

        @media (max-width: 500px) {
            font-size: 0.5rem;
            font-weight: normal;
        }
    }

    .footer-pers {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 8px 0;
        font-size: 0.9rem;
        
        a {
            text-decoration: none;
            margin: 0 5px;
            color: $off-white;
            &:hover {
                opacity: 0.6;
            }
        }

        .footer-links {
            display: flex;

        }
    }
}