.homescreen {
    @include screen-dimens;

    .homescreen-upper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        @media (max-width: 630px) {
            flex-direction: column;
            align-items: center;
        }

        .homescreen-title {
            color: $black;
            margin-left: 8px;
            text-shadow: 0 1px 4px $off-white;

            @media (max-width: 630px) {
                margin-bottom: 10px;
                font-size: 1.2rem;
                text-align: center;
            }
        }

        .homescreen-search {
            border: 1px solid $black;
            @include flex-centered;
            margin: 0 20px;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            
            input {
                padding: 10px;
                width: 300px;
                
                @media (max-width: 700px) {
                    width: 200px;
                }
            }
            
            i {
                padding: 0 10px;
                color: $dark-gray;
            }
        }
    }
    
    .homescreen-sort {
        @include flex-centered;
        
        @media (max-width: 630px) {
            margin-top: 10px;
        }

        p {
            font-size: .8rem;
            font-weight: 600;
        }
        select {
            border: 1px solid $black;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            padding: 5px;
            margin: 0 8px;
        }
    }
    
    .homescreen-products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
        @media (max-width: 1232px) {
            grid-template-columns: repeat(3, auto);
        };

        @media (max-width: 950px) {
            grid-template-columns: repeat(2, auto);
        };

        @media (max-width: 630px) {
            grid-template-columns: 1fr;
        };
    }
}