.homescreen {
    // @include screen-dimens;
    max-width: 1300px;
    margin: 5px auto;
    // display: flex;
    // flex-direction: column;

    .homescreen-banner {
        display: flex;
        justify-content: center;
        background-color: $black;
        height: auto;
        width: auto;

        img {
            max-height: 400px;
            max-width: 1000px;
        }

        .homescreen-banner-center-text {
            font-size: 3em;
            color: $off-white;
            text-shadow: 0 0 5px $black, 0 0 5px $black, 0 0 5px $black, 0 0 5px $black;
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        @media (max-width: 1200px) {
            img {
                max-height: 452px;
                max-width: 616px;
            }
        }
    }
}