.homescreen {
    // @include screen-dimens;
    max-width: 1300px;
    margin: 5px auto;
    // display: flex;
    // flex-direction: column;

    .homescreen-banner {
        display: flex;
        justify-content: center;
        background-color: $black;
        height: auto;
        width: auto;

        img {
            max-height: 400px;
            max-width: 1000px;
        }

        @media (max-width: 1200px) {
            img {
                max-height: 452px;
                max-width: 616px;
            }

            // .banner2 {
            //     display: none;
            // }
        }
    }
}