@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i&display=swap');

$serif: 'Cormorant Garamond', Georgia, Times, "Times New Roman", serif;
$sans-serif: 'Open Sans', Helvetica, "Helvetica Neue", Arial, sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}

body {
    margin: 0;
    font-family: $sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h4 {
    font-weight: 600;
    font-size: 1rem;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

img {
    width: 100%;
    object-fit: contain;
}