@mixin screen-dimens {
    max-width: 1300px;
    margin: 1rem auto;
}

@mixin flex-centered {
    display: flex;
    align-items: center;
}

@mixin cart-badge {
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 8px;
    font-size: 1rem;
}

@mixin select-style {
    padding: 5px;
    background-color: $off-white;
    cursor: pointer;
    font-weight: 600;
}