.pagination {
    display: flex;
    justify-content: center;

    @media (max-width: 430px) {
        flex-wrap: wrap;
    }

    button {
        padding: 8px;
        border-width: 1px;
        border-style: solid;
        border-color: $dark-gray;
        color: $blue;
        cursor: pointer;
        &:hover {
            background: $off-white;
        }
        &:focus {
            background-color: $blue;
            color: $white;
        }
    }
}